.ReportServiceTracking__container {
  background-color: var(--color-background-white);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  margin: 3em 0;
  text-align: center;
}

.ReportServiceTracking__container > h3 {
  background-color: var(--color-principal-blue);
  text-align: center;
}
