.ReportGeneralInformation__container {
  background-color: var(--color-background-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6;
  text-align: center;
  margin: 3rem 0;
}

.ReportGeneralInformation__container > h3 {
  background-color: var(--color-principal-blue);
  grid-column: 1/4;
}

.generalInfo__--use-3-columns {
  grid-column: 1/4;
  width: 20px;
}
